
# Dump do FModel: grande, versionado fora do git
# ImGui persiste posicao/tamanho da janela aqui
# MSVC
# Node
# macOS
# xmake
*.dll
*.exp
*.ilk
*.lib
*.obj
*.pdb
.DS_Store
.vs/
.xmake/
build/
dump/
external/
imgui.ini
node_modules/
